<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav class="navbar navbar-expand-md navbar-dark" id="upper">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand" href="/">Frest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav position-absolute top-50 start-50 translate-middle">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Contact</a>
                <% if (currentUser) { %>
                <% if (currentUser.role === 'admin') { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <li><a class="dropdown-item" href="/products/new">New product</a></li>
                        <li><a class="dropdown-item" href="/manage/products">Manage products</a></li>
                        <li><a class="dropdown-item" href="/manage/customers">Manage customers</a></li>
                        <li><a class="dropdown-item" href="/manage/orders">Manage orders</a></li>
                    </ul>
                </li>
                <% } %>
                <% } %>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                    <a class="" href="/login">Log in</a>
                    <a class="" href="/register">Register</a>
                <% } else { %>
                    <% if (currentUser.role != 'admin') { %>
                        <a class="big-icon" href="/info"><i class="fas fa-user-circle"></i></a>
                        <a class="big-icon" href="/profile"><i class="fas fa-shopping-cart"></i> <span><%=currentUser.cart.length%></span></a>
                    <% } %>
                    <a class="align-self-center" href="/logout">Log out</a>
                <% }%>
            </div>
        </div>
    </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark" id="lower">
    <div class="container-fluid navbar-container justify-content-center">
        <div class="scroll-menu py-2">
            <!-- <a id="all-label" href="/products">ALL</a> -->
            <a id="beverages-label" href="/products?category=beverages">BEVERAGES</a>
            <a id="dairy-label" href="/products?category=dairy">DAIRY</a>
            <a id="desserts-label" href="/products?category=desserts">DESSERTS</a>
            <a id="drygoods-label" href="/products?category=dry%20goods">DRY GOODS</a>
            <a id="fruits-label" href="/products?category=fruits">FRUITS</a>
            <a id="vegetables-label" href="/products?category=vegetables">VEGETABLES</a>
            <a id="meat-label" href="/products?category=meat">MEAT</a>
        </div>
    </div>
</nav>