<link rel="stylesheet" href="/stylesheets/navbar.css">

<nav class="navbar navbar-expand-md navbar-dark" id="upper">
    <div class="container-fluid navbar-container">
        <a class="navbar-brand" href="/">Frest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- <div class="navbar-nav position-absolute top-50 start-50 translate-middle"> -->
            <div class="navbar-nav">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/#about-us">About</a>
                <a class="nav-link" href="#">Contact</a>
                <% if (currentUser) { %>
                <% if (currentUser.role === 'admin') { %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                        <li><a class="dropdown-item" href="/products/new">New product</a></li>
                        <li><a class="dropdown-item" href="/manage/products">Manage products</a></li>
                        <li><a class="dropdown-item" href="/manage/customers">Manage customers</a></li>
                        <li><a class="dropdown-item" href="/manage/orders">Manage orders</a></li>
                    </ul>
                </li>
                <% } %>
                <% } %>
            </div>
            <div class="navbar-nav ms-auto">
                <% if (!currentUser) { %>
                    <a class="" href="/login">Log in</a>
                    <a class="" href="/register">Register</a>
                <% } else { %>
                    <% if (currentUser.role != 'admin') { %>
                        <a class="big-icon" href="/info"><i class="fas fa-user-circle"></i></a>
                        <a class="big-icon" href="/cart"><i class="fas fa-shopping-cart"></i><span class="position-absolute top-20 start-80 translate-middle badge rounded-pill bg-info"><%=currentUser.cart.length%></span></a>
                    <% } %>
                    <a class="" href="/logout">Log out</a>
                <% }%>
            </div>
        </div>
    </div>
</nav>