.checkout-card {
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.25);
    padding: 30px 20px 30px 20px;
    margin-bottom: 30px;
}

.section-title {
    background: linear-gradient(to bottom, #A3DCA7 50%, transparent 50%);
    display: inline;
}

.section-content {
    margin: 10px;
    padding: 10px 0px 10px 0px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.checkout-card a {
    text-decoration: none;
    color: #2F4858;
    transition: color 0.2s;
}

.checkout-card a:hover {
    color: #A3DCA7;
}

.custom-btn {
    background: #2F4858;
    color: white;
    border-radius: 0;
    padding: 5px 20px 5px 20px;
}

.custom-btn:hover {
    color: black;
    background: #A3DCA7;
}