<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/index.css">
<div class="container">
    <h1>All products</h1>
    <%const cat = category == null ? 'all' : category%>
    <div class="d-flex flex-row flex-wrap justify-content-around">
    <%- include('../partials/product-cards') %>
    </div>
</div>

<script>
    let category = <%-JSON.stringify(cat)%>.replace(/ /g,'');
    const menu = document.getElementsByClassName('scroll-menu')[0];
    for (let child of menu.children) {
        child.classList.remove('active');
    }
    if (category != 'all') {
        const menuLabel = document.getElementById(`${category}-label`);
        menuLabel.classList.add('active');
    }

    // const imgCtns = document.getElementsByClassName('product-img-ctn');
    // for (let imgCtn of imgCtns) {
    //     imgCtn.addEventListener('mouseenter', function () {
    //         imgCtn.children[1].classList.toggle('d-none');
    //     })
    //     imgCtn.addEventListener('mouseleave', function () {
    //         imgCtn.children[1].classList.toggle('d-none');
    //     })
    // }
</script>