<% layout('layouts/boilerplate') %>
<h1>New product</h1>
<form action="/products" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="name">Product name</label>
        <input class="form-control" type="text" name="product[name]" id="name" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="price">Product price</label>
        <input class="form-control" type="number" name="product[price]" id="price" min="0" required>
    </div>

    <div class="mb-3 row">
        <label class="form-label col-4" for="">Product image</label>
        <div class="col-8">
            <input class="form-check-input" type="radio" name="imageMethod" id="imageURL" checked>
            <label class="form-check-label" for="imageURL">Image URL</label>
            <input class="form-check-input" type="radio" name="imageMethod" id="imageUpload">
            <label class="form-check-label" for="imageUpload">Image upload</label>
        </div>
    </div>
    <div class="mb-3" id="imageURLInput">
        <label class="form-label" for="imageURLLabel">Product image URL</label>
        <input class="form-control" type="text" name="product[image]" id="imageURLLabel" required>
    </div>
    <div class="mb-3 d-none" id=imageUploadInput>
        <label class="form-label" for="imageUploadLabel">Product image upload</label>
        <input type="file" class="form-control" name="imageUpload" id="imageUploadLabel">
    </div>

    <div class="mb-3">
        <label class="form-label" for="stock">Available stock</label>
        <input class="form-control" type="number" name="product[stock]" id="stock" value="100" min="0" required>
    </div>
    <div class="mb-3">
        <label class="form-label" for="category">Product category</label>
        <select class="form-select" name="product[category]" id="category" required>
            <option value="beverages">Beverages</option>
            <option value="dairy">Dairy</option>
            <option value="desserts">Desserts</option>
            <option value="dry goods">Dry goods</option>
            <option value="fruits">Fruits</option>
            <option value="vegetables">Vegetables</option>
            <option value="meat">Meat</option>
        </select>
    </div>
    <button class="btn btn-info">Add product</button>
</form>

<script>
    const imageURL = document.getElementById('imageURL')
    const imageURLInput = document.getElementById('imageURLInput')
    const imageUpload = document.getElementById('imageUpload')
    const imageUploadInput = document.getElementById('imageUploadInput')
    imageURL.addEventListener('change', function() {
        if (imageURLInput.classList.contains('d-none')) {
            imageURLInput.classList.remove('d-none')
        }
        if (!imageUploadInput.classList.contains('d-none')) {
            imageUploadInput.classList.add('d-none')
        }
        for (let child of imageURLInput.children) {
            if (child.tagName == 'INPUT') {
                child.required = true
            }
        }
        for (let child of imageUploadInput.children) {
            if (child.tagName == 'INPUT') {
                child.required = false
                child.value = ''
            }
        }
    })
    imageUpload.addEventListener('change', function() {
        if (imageUploadInput.classList.contains('d-none')) {
            imageUploadInput.classList.remove('d-none')
        }
        if (!imageURLInput.classList.contains('d-none')) {
            imageURLInput.classList.add('d-none')
        }
        for (let child of imageUploadInput.children) {
            if (child.tagName == 'INPUT') {
                child.required = true
            }
        }
        for (let child of imageURLInput.children) {
            if (child.tagName == 'INPUT') {
                child.required = false
                child.value = ''
            }
        }
    })
</script>